<style>
    table, th, td {
        border: 2px solid black;
    }
</style>
<h2 align="center">  Educational Background</h2>
<table style="width:100%">
    <tr align="center">
        <th>Degree</th>
        <th>Institution/Board</th>
        <th>Result</th>
        <th>Passing Year</th>
    </tr>
    <tr align="center">
        <td>BSc</td>
        <td>AIUB</td>
        <td>3.57</td>
        <td>Continued</td>
    </tr>
    <tr align="center">
        <td>HSC</td>
        <td>Rajshahi</td>
        <td>4.17</td>
        <td>2018</td> 
    </tr>
    <tr align="center">
        <td>SSC</td>
        <td>Rajshahi</td>
        <td>4.61</td>
        <td>2016</td>
    </tr>
</table>