<h1 align="center">Project</h1>
<h3>OOP1</h3>
<tr>
    <th>Library Management</th>
</tr>
<h3>OOP2</h3>
<tr>
    <td>Cafe Management</td>
</tr>
<h3>Sofware Engg</h3>
<tr>
    <td>E-Medicare</td>
</tr>
<h3>Computer Graphics</h3>
<tr>
    <td>Modern Village</td>
</tr>
<h3>Web Tech</h3>
<tr>
    <td>Nursing Management System</td>
</tr>

